<nav class="navbar is-spaced is-clear" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="favicon.ico" width="40" height="40">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <a class="navbar-item" href="#">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</nav>