@using Ankh.Data

<div class="flex flex-1 justify-center bg-accent m-5 rounded-box">
    <div class="flex-none px-2 mx-2">
        <span class="text-lg font-bold">
            @Room.Name
        </span>
    </div>
</div>

@code {
    [Parameter]
    public RoomData Room { get; set; }
}