<aside class="menu">
    <p class="menu-label">
        👾
    </p>
    <ul class="menu-list">
        <li>
            <NavLink href="explore">Rooms Explorer</NavLink>
        </li>
    </ul>
    <p class="menu-label">
        👻
    </p>
    <ul class="menu-list">
        <li>
            <a class="is-active">History</a>
            <ul>
                <li>
                    <NavLink href="profile">Room History</NavLink>
                </li>
                <li>
                    <NavLink href="explore">User Search</NavLink>
                </li>
            </ul>
        </li>
    </ul>
</aside>