@page "/"


<p>
    <span class="tag is-success">Success</span>
</p>
<h1 class="is-1">Título del Artículo en cuestión</h1>
<p class="subtitle is-4">Esta es la descripción del artículo en cuestión</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi ex totam officiis! Quos debitis repellendus modi quidem doloremque quaerat quisquam eos reiciendis, tempora architecto harum cupiditate optio id rerum sequi.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, alias eaque architecto error exercitationem ipsam fugiat voluptatum qui molestiae itaque tempora tenetur numquam laudantium consectetur cumque nihil voluptatem soluta dolores!</p>