@page "/"

@using Ankh.Data
@inject Database _database


<div class="w-full shadow stats">
    <div class="stat">
        <div class="stat-figure text-primary">
            <div class="avatar online">
                <div class="w-16 h-16 p-1 mask mask-squircle bg-base-100">
                    <img src="imgs/hat.png" alt="Ghost icon" class="mask mask-squircle">
                </div>
            </div>
        </div>
        <div class="stat-title">Total Rooms</div>
        <div class="stat-value text-primary">@_dirCount</div>
        <div class="stat-desc">IMVU room's directory</div>
    </div>
    <div class="stat">
        <div class="stat-figure text-info">
            <div class="avatar online">
                <div class="w-16 h-16 p-1 mask mask-squircle bg-base-100">
                    <img src="imgs/voodoo.png" alt="Ghost icon" class="mask mask-squircle">
                </div>
            </div>
        </div>
        <div class="stat-title">Cached Rooms</div>
        <div class="stat-value text-info">@_roomCount</div>
        <div class="stat-desc"></div>
    </div>
    <div class="stat">
        <div class="stat-figure text-info">
            <div class="avatar online">
                <div class="w-16 h-16 p-1 mask mask-squircle bg-base-100">
                    <img src="imgs/Ghost.png" alt="Ghost icon" class="mask mask-squircle">
                </div>
            </div>
        </div>
        <div class="stat-title">Cached Users</div>
        <div class="stat-value text-info">@_userCount</div>
        <div class="stat-desc text-info"></div>
    </div>
</div>

@code {
    private int _dirCount;
    private int _userCount;
    private int _roomCount;

    protected override async Task OnInitializedAsync()
    {
        _userCount = await _database.CountAsync<UserData>();
        _roomCount = await _database.CountAsync<RoomData>();
        _dirCount = await _database.CountAsync<DirectoryData>();

    }
}