@page "/profile"
@using Ankh.Data
@using Ankh.Redis

@inject RedisClientManager _clientManager

@if (_userData == null) {
    <div class="alert alert-warning">
        <div class="flex-1">
            <label>⚠️ Loading rooms!</label>
        </div>
    </div>
}
else {
    <div class="grid grid-cols-1 gap-6 lg:p-10 xl:grid-cols-3 lg:bg-base-200 rounded-box">
        <div class="card shadow-lg compact side bg-base-100">
            <div class="flex-row items-center space-x-4 card-body">
                <div>
                    <div class="avatar">
                        <div class="rounded-full w-14 h-14 shadow">
                            <img src="@_userData.Avatar.Url"/>
                        </div>
                    </div>
                </div>

                <div>
                    <h2 class="card-title">@_userData.Username</h2>
                    <p class="text-base-content text-opacity-40">@_userData.Age</p>"
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string Username { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    private UserData _userData;

    protected override async Task OnParametersSetAsync() { }

}