@import url('open-iconic-foundation.min.css');
@import url('https://kit-pro.fontawesome.com/releases/latest/css/pro.min.css');
@import url('https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

html, body {
    -webkit-font-smoothing: auto;
    font-family: 'Neucha', cursive;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid #e1d8d8;
}

.is-clear {
    background: rgba(0,0,0,0);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    content: ⚠️;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
